<div class="container">
    <app-spinner *ngIf="loading"></app-spinner>
    <div class="question-container">
        <div class="q-top">
            <div class="q-icon">
                <img src="../../../assets/icons/idea-icon.svg" alt="">
                Brilliant
            </div>
            <div class="q-timer" [style.color]="setColor(second)">{{second >= 10 ? second : '0'+second}}</div>
            <div class="progress-bar" [style.width.%]="progress"></div>
        </div>
        <div class="q-main">
            <div class="q-structure">
                <span class="q-number">{{questionIndex + 1}}</span>
                <span class="q-text" [innerHTML]="questions[questionIndex].question"></span>
            </div>
            <div class="answer-container" *ngIf="questions[questionIndex].type === 'multiple'">
                <div class="answer-box" [ngClass]="{
                    'correct-answer': correct && answerSelected === item,
                    'incorrect-answer': !correct && answerSelected === item
                  }" 
                *ngFor="let item of mixedAnswers" 
                (click)="verifyAnswer(item,questions[questionIndex],second)">{{item}}</div>
            </div>
            <div class="answer-container-boolean" *ngIf="questions[questionIndex].type  ===  'boolean'">
                <div class="answer-boolean-box" [ngClass]="{
                    'correct-answer': correct && answerSelected === 'True',
                    'incorrect-answer': !correct && answerSelected === 'True'
                  }"  
                (click)="verifyAnswer('True',questions[questionIndex],second)">True</div>
                <div class="answer-boolean-box" [ngClass]="{
                    'correct-answer': correct && answerSelected === 'False',
                    'incorrect-answer': !correct && answerSelected === 'False'
                  }"  
                (click)="verifyAnswer('False',questions[questionIndex],second)">False</div>
            </div>
        </div>
        <div class="q-bottom">
            <div class="q-count">{{questionIndex +1 }} of {{questions.length}} Questions</div>
            <button class="btn-next" [disabled]="blockedBtn" (click)="nextQuestion()">{{questionIndex + 1 === questions.length ? 'Finish': 'Next'}}</button>
        </div>
    </div>
</div>
