<div class="container">
    <app-navbar [newMatchActive]="true"></app-navbar>
    <app-points (formClose)="openPointsSection()" *ngIf="pointsSection" ></app-points>
    <div class="top-section">
        <span class="user-icon">
            <img src="../../../assets/icons/user-icon.svg" alt="">
        </span>
        <span class="user-name">{{(accountInfo.nickcname) ? accountInfo.nickname : accountInfo.email}}</span>
        <span class="user-score">{{(accountInfo.score) ? accountInfo.score : 0}} XP</span>
    </div>
    <div class="table-section">
        <div class="table-top">
            SCORES
        </div>
        <div class="table-body">
            <div class="table-row" *ngFor="let item of users; index as i">
                <span class="numeral">{{i + 1}}</span>
                <span class="user-table-icon">
                     <img src="../../../assets/icons/user-icon.svg" alt="">
                </span>
                <span class="user-info">
                     <span class="user-info-name">{{item.email}}</span>
                     <span class="user-info-score">{{(item.score) ? item.score : 0}} PX</span>
                </span>
            </div>               
        </div>
    </div>
</div>
